body {
  background-color: #245906; /* #245906 */
}
/*
.img-thumbnail {
  background-color: #0a2a04;
}*/
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #0a2a04;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #0a2a04;
  }
}
/*
.thumbnail {
  background-color: #0a2a04;
}*/

/*
.panel {
  background-color: #0a2a04;
}
*/
hr {
  border-top: 1px solid #245906;
}
.jumbotron {
  background-color: #245906;
}
/*  */
.modal-title {
  color: #d9d0ab;
}
.dropdown-menu > li > a {
  color: #d9d0ab;
}
.navbar-default .navbar-brand {
  color: #d9d0ab;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #c9bc88;
}
.navbar-default .navbar-text {
  color: #d9d0ab;
}
.navbar-default .navbar-nav > li > a {
  color: #d9d0ab;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #d9d0ab;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #d9d0ab;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #d9d0ab;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d9d0ab;
  }
}
.navbar-default .navbar-link {
  color: #d9d0ab;
}
.navbar-default .btn-link {
  color: #d9d0ab;
}
.navbar-inverse .navbar-brand {
  color: #d9d0ab;
}
.navbar-inverse .navbar-text {
  color: #d9d0ab;
}
.navbar-inverse .navbar-nav > li > a {
  color: #d9d0ab;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #d9d0ab;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #d9d0ab;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d9d0ab;
  }
}
.navbar-inverse .navbar-link {
  color: #d9d0ab;
}
.navbar-inverse .btn-link {
  color: #d9d0ab;
}
.panel-footer {
  background-color: #d9d0ab;
}
.panel-default > .panel-heading {
  background-color: #4caf50; /* #4caf50 */
}
.panel-default > .panel-heading .badge {
  color: #d9d0ab;
}
.well {
  background-color: #245906; /* #245906 */
}
/*  ************************/
a {
  color: #d1c4d0;
}
.text-primary {
  color: #d1c4d0;
}
.bg-primary {
  background-color: #d1c4d0;
}
.btn-primary {
  color: #000000;
  background-color: #d1c4d0;
  border-color: #c6b6c5;
}
fieldset[disabled] .btn-primary.active {
  background-color: #d1c4d0;
}
.btn-primary .badge {
  color: #d1c4d0;
}
.btn-link {
  color: #d1c4d0;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #d1c4d0;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #d1c4d0; /* #0a2a04 */
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: #d1c4d0;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #d1c4d0;
}
.pagination > li > a,
.pagination > li > span {
  color: #d1c4d0;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #d1c4d0;
  border-color: #d1c4d0;
}
.label-primary {
  background-color: #d1c4d0;
}
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #d1c4d0;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #d1c4d0;
}
.progress-bar {
  background-color: #d1c4d0;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #d1c4d0;
  border-color: #d1c4d0;
}
.panel-primary {
  border-color: #d1c4d0;
}
.panel-primary > .panel-heading {
  background-color: #d1c4d0;
  border-color: #d1c4d0;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d1c4d0;
}
.panel-primary > .panel-heading .badge {
  color: #d1c4d0;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d1c4d0;
}
/*   ******************* */
/*
body {
  color: #4caf50;
}
*/
.modal-header {
  min-height: 16.43px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #4caf50;
}
.dropdown-menu {
  background-color: #4caf50;
}
.navbar-default {
  background-color: #4caf50;
  border-color: #429845;
}
.navbar-inverse {
  background-color: #4caf50;
  border-color: #3d8b40;
}
.thumbnail .caption {
  color: #4caf50;
}
.panel-default > .panel-heading {
  color: #d9d0ab; /* #d9d0ab */
}
.panel-default > .panel-heading .badge {
  background-color: #d9d0ab; /* #d9d0ab */
}